{% extends 'base.html' %}
{% load static %}
{% block title %}HOME{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{{block.super}}
<div class="container">
    <h2>Sign up</h2>
    <form method="POST" >
        {% csrf_token %}
        {{form|crispy}}
    <button class="btn btn-secondary" type="submit">REGISTER</button>
    </form>
    <div class="mt-2 bt-2">
        <p>
            Already Have an Account ? <a class="link" href="{% url 'two_factor:login' %}">Sign In</a>
        </p>

    </div>
</div>





{% endblock content %}